<div class="container">
    <div class="Login">
        <div class="Login-header">
            <h1 class="Login-title">Iniciar sesión</h1>
            <p>¿ No tienes usuario con nosotros? <a href="/register">Registrate</a></p>
        </div>
        <div class="Login-redes">
            <button class="btn btn-large btn-facebook"><i class="fa fa-facebook"></i> | Iniciar sesión con Facebook</button>
            <button class="btn btn-large btn-twitter"><i class="fa fa-twitter"></i> | Iniciar sesión con Twitter</button>
        </div>
        <div class="Login-formulario">
            <form action="">
                <div class="Login-item input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-at"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Correo Electronico" aria-describedby="sizing-addon1">
                </div>
                <div class="Login-item input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-lock"></i>
                    </span>
                    <input type="password" class="form-control" placeholder="password" aria-describedby="sizing-addon1">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Permanecer registrado
                        <p><a href="">¿Olvidaste tu contraseña?</a></p>
                    </label>
                </div>
                <button type="submit" class="btn btn-lg  btn-login">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</div>
