<div class="container">
    <div class="Register">
        <div class="Register-header">
            <h1 class="Login-title">Registrate</h1>
            <p>¿Ya tienes un usuario con nosotros? <a href="/login">Iniciar sesión</a></p>
        </div>
        <div class="Register-redes">
            <button class="btn btn-large btn-facebook"><i class="fa fa-facebook"></i> | Regístrate con Facebook</button>
            <button class="btn btn-large btn-twitter"><i class="fa fa-twitter"></i> | Regístrate con Twitter</button>
        </div>
        <div class="Register-formulario">
            <form action="">
                <div class="Login-item input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-user"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Tu nombre (es publico)" aria-describedby="sizing-addon1">
                </div>
                <div class="Login-item input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">@</i>
                    </span>
                    <input type="text" class="form-control" placeholder="Correo Electronico" aria-describedby="sizing-addon1">
                </div>
                <div class="Login-item input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-lock"></i>
                    </span>
                    <input type="password" class="form-control" placeholder="password" aria-describedby="sizing-addon1">
                </div>
                <button type="submit" class="btn btn-lg  btn-login">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</div>
